{% extends 'maneu/base_admin.html' %}
{% load static %}
{% block content %}
    <div class="container" style="margin-top: 3%; margin-bottom: 5%">
        <div class="col-1">
            <form action="{% url 'maneu_order_v2:detail' %}" method="post" class="vertical2">
                {% csrf_token %}
                <input type="hidden" name="order_id" value="{{ order.id }}">
                <div class="input-group input-group-sm mb-2">
                    <input type="submit" class="btn btn-primary" value="返回列表">
                </div>
            </form>
        </div>
        <hr style="color: white">
        <h4>订单基本信息</h4>
        <form class="vertical2" id="order">
            <div class="col-12 row">
                <div class="col-md-3 col-xs-12">
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text col-3">时间</span>
                        <input class="form-control date_time" id="time" name="time" type="date" autocomplete="off" value="{{ order.time|safe }}">
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text col-3">姓名</span>
                        <input class="form-control" id="name" name="name" type="text" autocomplete="off" value="{{ order.name }}">
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text col-3">电话</span>
                        <input class="form-control" id="phone" name="phone" type="text" autocomplete="off" value="{{ order.phone }}">
                    </div>
                </div>
            </div>
        </form>
        <hr style="color: white">
        <form class="vertical2 Vision_Solutions" id="Vision_Solutions">
            <div class="col-12 row">
                <div class="col-9">
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text col-1">右眼OD</span>
                        <input autocomplete="off" type="text" class="form-control" name="OD_SPH" list="OD_SPH" placeholder="球镜" value="{{ vision.content.OD_CYL|safe }}">
                        <input autocomplete="off" type="text" class="form-control" name="OD_CYL" list="OD_CYL" placeholder="柱镜" value="{{ vision.OD_CYL }}">
                        <input autocomplete="off" type="text" class="form-control" name="OD_AX" list="OD_AX" placeholder="轴位" value="{{ vision.content.OD_AX|safe }}">
                        <input autocomplete="off" type="text" class="form-control" name="OD_PR" list="OD_PR" placeholder="凌镜" value="{{ vision.OD_FR }}">
                        <input autocomplete="off" type="text" class="form-control" name="OD_FR" list="OD_FR" placeholder="基地取向" value="{{ vision.OD_FR }}">
                        <input autocomplete="off" type="text" class="form-control" name="OD_ADD" list="OD_ADD" placeholder="下加光" value="{{ vision.OD_ADD }}">
                        <input autocomplete="off" type="text" class="form-control" name="OD_BCVA" list="OD_BCVA" placeholder="纠正视力" value="{{ vision.OD_BCVA }}">
                    </div>
                </div>
                <div class="col-9">
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text col-1">左眼OS</span>
                        <input autocomplete="off" type="text" class="form-control" name="OS_SPH" list="OS_SPH" placeholder="球镜" value="{{ vision.OS_SPH }}">
                        <input autocomplete="off" type="text" class="form-control" name="OS_CYL" list="OS_CYL" placeholder="柱镜" value="{{ vision.OS_CYL }}">
                        <input autocomplete="off" type="text" class="form-control" name="OS_AX" list="OS_AX" placeholder="轴位" value="{{ vision.OS_AX }}">
                        <input autocomplete="off" type="text" class="form-control" name="OS_PR" list="OS_PR" placeholder="凌镜" value="{{ vision.OS_FR }}">
                        <input autocomplete="off" type="text" class="form-control" name="OS_FR" list="OS_FR" placeholder="基地取向" value="{{ vision.OS_FR }}">
                        <input autocomplete="off" type="text" class="form-control" name="OS_ADD" list="OS_ADD" placeholder="下加光" value="{{ vision.OS_ADD }}">
                        <input autocomplete="off" type="text" class="form-control" name="OS_BCVA" list="OS_BCVA" placeholder="纠正视力" value="{{ vision.OS_BCVA }}">
                    </div>
                </div>
                <div class="col-9">
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text col-md-1">瞳距</span>
                        <input autocomplete="off" type="text" class="form-control" name="PD" list="pd">
                    </div>
                </div>
                <div class="col-9">
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text col-md-1">方案类型</span>
                        <input autocomplete="off" type="text" class="form-control col-4" name="function" list="function">
                    </div>
                </div>
                <div class="col-9">
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text col-1">配镜师建议</span>
                        <input autocomplete="off" type="text" class="form-control" name="remark" id="remark">
                    </div>
                </div>
            </div>
        </form>
        <hr style="color: white">
        <div class="col-md-12 row">
            <div class="col-md-7">
                <h4>产品信息</h4>
            </div>
            <div class="col-md-1">
                <div class="input-group input-group-sm mb-2">
                    <button type="button" class="btn btn-warning col-md-12" id="DeleteTextBox">删除</button>
                </div>
            </div>
            <div class="col-md-1">
                <div class="input-group input-group-sm mb-2">
                    <button type="button" class="btn btn-primary col-md-12" id="AddMoreTextBox">添加</button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <form class="vertical2" id="Product_Orders">
                <div class="col-md-9 row" id="Product_Orders_TABLE">
                    <div class="input-group input-group-sm mb-2">
                        <input autocomplete="off" type="text" class="form-control" name="arg10" style="width: 12%" placeholder="类别">
                        <input autocomplete="off" type="text" class="form-control" name="arg11" style="width: 12%" placeholder="品牌">
                        <input autocomplete="off" type="text" class="form-control" name="arg12" style="width: 12%" placeholder="型号">
                        <input autocomplete="off" type="text" class="form-control" name="arg13" style="width: 52%" placeholder="参数">
                        <input autocomplete="off" type="text" class="form-control" name="arg14" style="width: 12%" placeholder="价格">
                    </div>
                </div>
            </form>
        </div>
        <hr style="color: white">
        <div class="col-md-12 row">
            <div class="col-1">
                <div class="input-group input-group-sm mb-2">
                    <form class="vertical2" id="order_insert" method="post" action="{% url 'maneu_order_v2:update' %}">
                        {% csrf_token %}
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                        <input type="hidden" name="vision_id" value="{{ vision.id }}">
                        <input type="hidden" name="order_json" id="order_json">
                        <input type="hidden" name="Vision_Solutions" id="Vision_Solutions_json">
                        <input type="hidden" name="Product_Orders" id="Product_Orders_json">
                        <div class="input-group input-group-sm mb-2">
                            <input autocomplete="off" class="btn btn-danger" id="insert" type="submit" value="提交订单">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="application/javascript" src="{% static 'javascript/maneu/serialize_moudels.js' %}"></script>
    <script type="application/javascript" src="{% static 'javascript/maneu_order/order_insert_pc.js' %}"></script>
    <script type="application/javascript">
        vision = {{ vision.content|safe }};
        $("input[name='OD_SPH']").val(vision.OD_SPH)
        $("input[name='OD_CYL']").val(vision.OD_CYL)
        $("input[name='OD_AX']").val(vision.OD_AX)
        $("input[name='OD_PR']").val(vision.OD_PR)
        $("input[name='OD_FR']").val(vision.OD_FR)
        $("input[name='OD_ADD']").val(vision.OD_ADD)
        $("input[name='OD_BCVA']").val(vision.OD_BCVA)
        $("input[name='OS_SPH']").val(vision.OS_SPH)
        $("input[name='OS_CYL']").val(vision.OS_CYL)
        $("input[name='OS_AX']").val(vision.OS_AX)
        $("input[name='OS_PR']").val(vision.OS_PR)
        $("input[name='OS_FR']").val(vision.OS_FR)
        $("input[name='OS_ADD']").val(vision.OS_ADD)
        $("input[name='OS_BCVA']").val(vision.OS_BCVA)
        $("input[name='PD']").val(vision.PD)
        $("input[name='remark']").val(vision.remark)
        $("input[name='function']").val(vision.function)
    </script>
{% endblock %}