.yellow{
    font-weight: bold;
    color: #fbc21d
}
.blue{
    font-weight: bold;
    color: #fbc21d
}
img{
    height: 100px; width: 100px
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px; /* Height of the footer */
}
body {
   margin:0;
   padding:0;
   height:100%;
   _height:100%; /* IE6 hack */
}
#header {
    background:#ff0;
    padding:10px;
}
table{
    margin-top: 5%
}
