.yellow {
    font-weight: bold;
    color: #FCDA5E;
}

.blue {
    color: #FCDA5E;
    background: #003153;
}

.logo {
    margin: 10%;
}

table {
    text-align: left;
}

img {
    height: 100px;
    width: 140px;
}

span {
    font-size: 10px;
    color: #FFC048;
    display: block;
}

h5 {
    color: #FFC048;
}
