.yellow {
    font-weight: bold;
    color: #FCDA5E;
}

.blue {
    color: #FCDA5E;
    background: #003153;
}

span {
    font-size: 10px;
    color: #FFC048;
    display: block;
}

h5 {
    color: #FFC048;
}
