<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Maneu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">
    <link rel="stylesheet" href="{% static 'css/maneu/admin.css' %}">
</head>
<body class="panel">
<div class="row">
    <div class="overflow-x:auto" align="center">
        <table class="medium-12">
            <tr>
                <td class="blue" colspan="7">订单信息</td>
            </tr>
            <tr>
                <td>订单编号</td>
                <td colspan="6">
                    <span>{{order.order_id}}</span>
                </td>
            </tr>
            <tr>
                <td class="blue" colspan="7">商家信息</td>
            </tr>
            <tr>
                <td>商家姓名</td>
                <td colspan="6">
                    {{order.u_name}}
                </td>
            </tr>
            <tr>
                <td>商家电话</td>
                <td colspan="6">
                    {{order.u_phone}}
                </td>
            </tr>
            <tr>
                <td>更新时间</td>
                <td colspan="6">
                    {{order.u_time}}
                </td>
            </tr>
            <tr>
                <td class="blue" colspan="7">客户信息</td>
            </tr>
            <tr>
                <td>客户姓名</td>
                <td colspan="6">
                    {{order.c_name}}
                </td>
            </tr>
            <tr>
                <td>客户电话</td>
                <td colspan="6">
                    {{order.c_phone}}
                </td>
            </tr>
            <tr>
                <td>购买时间</td>
                <td colspan="6">
                    {{order.c_time}}
                </td>
            </tr>
            <tr>
                <td class="blue" colspan="7">镜框信息</td>
            </tr>
            <tr>
                <td>产品名称</td>
                <td colspan="6">
                    {{order.frame}}
                </td>
            </tr>
            <tr>
                <td class="blue " colspan="7">处方信息</td>
            </tr>
            <tr>
                <td>参数</td>
                <td>产品</td>
                <td>球镜:DS</td>
                <td>柱镜:DC</td>
                <td>轴位:AX</td>
                <td>ADD:DS</td>
                <td>瞳距:mm</td>
            </tr>
            <tr>
                <td>左眼</td>
                <td>{{order.l_glasses}}</td>
                <td>
                    <b>{{order.l_sphere}}</b>
                </td>
                <td>
                    <b>{{order.l_astigmatic}}</b>
                </td>
                <td>{{order.l_deviation}}</td>
                <td>{{order.l_add}}</td>
                <td>{{order.l_pd}}</td>
            </tr>
            <tr>
                <td>右眼</td>
                <td>{{order.r_glasses}}</td>
                <td>
                    <b>{{order.r_sphere}}</b>
                </td>
                <td>
                    <b>{{order.r_astigmatic}}</b>
                </td>
                <td>{{order.r_deviation}}</td>
                <td>{{order.r_add}}</td>
                <td>{{order.r_pd}}</td>
            </tr>
            <tr>
                <td>备注</td>
                <td colspan="6">{{order.todo}}</td>
            </tr>
        </table>
    </div>
</div>
</body>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>
<script src="https://cdn.staticfile.org/foundation/5.5.3/js/vendor/modernizr.js"></script>
<script>
$(document).ready(function() {
    $(document).foundation();
})
</script>
</html>