{% extends 'maneu/base.html' %}
{% load static %}
{% block content %}
    <!--内容栏-->
    <table class="table">
        <tr>
            <td class="yellow col-md-2">客户姓名</td>
            <td class="yellow col-md-2">客户电话</td>
            <td class="yellow col-md-3">创建时间</td>
            <td class="yellow col-md-3">产品信息</td>
            <td class="yellow col-md-2">
                <form method='get' action="{% url 'maneu_batch:batch_insert'%}">
                    <input type="submit" class="btn btn-warning offset-md-6" value='添加订单'>
                </form>
            </td>
        </tr>
        {% for order in orders %}
            <tr>
                <td class="yellow">
                    <p>{{order.c_name}}</p>
                </td>
                <td class="yellow">
                    <p>{{order.c_phone}}</p>
                </td>
                <td class="yellow">
                    <p>{{order.c_time }}</p>
                </td>
                <td class="yellow">
                    <p>{{order.remark}}</p>
                </td>
                <td class="yellow">
                    <form method="GET" action="{% url 'maneu_batch:batch_detail' %}">
                        <input type="hidden" name="order_id" value="{{order.order_id}}">
                        <input type="submit" class="btn btn-primary offset-md-6 " value="查看订单">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
