{% extends 'maneu/base.html' %}
{% load static %}
{% block content %}
    <div class="col-md-8 offset-md-2">
        <form id="batch_insert" enctype="multipart/form-data" method="post" action="{% url 'maneu_batch:batch_insert' %}">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <td colspan="6">
                        <span>客户信息</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>姓名</span>
                    </td>
                    <td colspan="4">
                        <input type="text" name="c_name" id="name" class="form-control">
                        <span id="username_error"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>电话</span>
                    </td>
                    <td colspan="4">
                        <input type="text" name="c_phone" id="phone" class="form-control">
                        <span id="phone_error"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>备注</span>
                    </td>
                    <td colspan="4">
                        <input type="text" name="remark" id="remark" class="form-control">
                        <span id="remake_error"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>上传表格</span>
                    </td>
                    <td colspan="4">
                        <input class="btn btn-primary" name="execl" type="file" value="上传文件">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a type="button" class="btn btn-warning" style="width: 100%" href="">返回列表</a>
                    </td>
                    <td colspan="4">
                        <input class="btn btn-danger" style="width: 100%" type="submit" value="提交订单">
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock%}
