<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>徕可</title>

    <!-- local -->
    <link rel="icon" href="{% static 'img/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'css/maneu/admin.css' %}">
    <!-- local -->

    <!-- bootstrap -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--bootstrap -->
</head>

<body style="background: #0E2340">
{% block content %} {% endblock %}
</body>

<footer>
    <div class="text-center yellow">
        <p>粤ICP备2020134991号</p>
    </div>
</footer>

{% block css %}{% endblock %}
{% block js %}{% endblock %}
</html>
