{% extends 'base/base.html' %}
{% block content %}
<!--内容栏-->
<div class="panel" >
    <div class="row">
        <div class="overflow-x:auto" align="center">
            <table class="medium-12">
                <tr>
                    <td class="blue" colspan="7">订单信息</td>
                </tr>
                <tr>
                    <td>订单编号</td>
                    <td colspan="6">
                        <span>{{order.id}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="blue" colspan="7">商家信息</td>
                </tr>
                <tr>
                    <td>商家姓名</td>
                    <td colspan="6">
                        {{order.u_name}}
                    </td>
                </tr>
                <tr>
                    <td>商家电话</td>
                    <td colspan="6">
                        {{order.u_phone}}
                    </td>
                </tr>
                <tr>
                    <td>更新时间</td>
                    <td colspan="6">
                        {{order.u_time}}
                    </td>
                </tr>
                <tr>
                    <td class="blue" colspan="7">客户信息</td>
                </tr>
                <tr>
                    <td>客户姓名</td>
                    <td colspan="6">
                        {{order.c_name}}
                    </td>
                </tr>
                <tr>
                    <td>客户电话</td>
                    <td colspan="6">
                        {{order.c_phone}}
                    </td>
                </tr>
                <tr>
                    <td>购买时间</td>
                    <td colspan="6">
                        {{order.c_time}}
                    </td>
                </tr>
                <tr>
                    <td class="blue" colspan="7">镜框信息</td>
                </tr>
                <tr>
                    <td>产品名称</td>
                    <td colspan="6">
                        {{order.frame}}
                    </td>
                </tr>
                <tr>
                    <td class="blue " colspan="7">处方信息</td>
                </tr>
                <tr>
                    <td>参数</td>
                    <td>产品</td>
                    <td>球镜:DS</td>
                    <td>柱镜:DC</td>
                    <td>轴位:AX</td>
                    <td>ADD:DS</td>
                    <td>瞳距:mm</td>
                </tr>
                <tr>
                    <td>左眼</td>
                    <td>{{order.l_glasses}}</td>
                    <td>
                        <b>{{order.l_sphere}}</b>
                    </td>
                    <td>
                        <b>{{order.l_astigmatic}}</b>
                    </td>
                    <td>{{order.l_deviation}}</td>
                    <td>{{order.l_add}}</td>
                    <td>{{order.l_pd}}</td>
                </tr>
                <tr>
                    <td>右眼</td>
                    <td>{{order.r_glasses}}</td>
                    <td>
                        <b>{{order.r_sphere}}</b>
                    </td>
                    <td>
                        <b>{{order.r_astigmatic}}</b>
                    </td>
                    <td>{{order.r_deviation}}</td>
                    <td>{{order.r_add}}</td>
                    <td>{{order.r_pd}}</td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td colspan="6">{{order.todo}}</td>
                </tr>
                <tr>
                    <td>
                        <span>操作</span>
                    </td>
                    <td colspan="2">
                        <form method="get" action="{% url 'update_order' %}">
                            <input type="hidden" name="id" value="{{order.id}}">
                            <input type="submit" value="更新">
                        </form>
                    </td>
                    <td colspan="2">
                        <form method="get" action="{% url 'delete_order' %}">
                            <input type="hidden" name="id" value="{{order.id}}">
                            <input type="submit" value="删除">
                        </form>
                    </td>
                    <td colspan="2">
                        <form method="get" action="{% url 'QR_code' %}">
                            <input type="hidden" name="id" value="{{order.id}}">
                            <input type="hidden" name="token" value="{{order.token}}">
                            <input type="submit" value="二维码">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
