{% extends 'maneu/base_uesrs.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block content %}
    <div class="container">
        <!--内容栏-->
        <table class="table">
            <tr>
                <td class="blue col-2">
                    <h4>创建时间</h4>
                </td>
                <td class="blue col-10" colspan="2">
                    <h4>售后内容</h4>
                </td>
            </tr>
            {% if alterSalesList %}
                {% for order in alterSalesList %}
                    <tr>
                        <td class="blue col-2">
                            <span>{{ order.time }}</span>
                        </td>
                        <td class="blue col-9">
                            <span>{{ order.content }}</span>
                        </td>
                        <td>
                            <form method="post" action="{% url 'maneu_order:order_detail' %}">
                                <div class="input-group input-group-sm">
                                    {% csrf_token %}
                                    <input type="hidden" name="order_id" value="{{ order.order_id }}">
                                    <input type="submit" class="btn btn-primary" value="所属订单">
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3" class="blue">没有找到您的记录</td>
                </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}