{% extends 'maneu/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.staticfile.org/bootstrap-daterangepicker/3.0.5/daterangepicker.css"/>
{% endblock %}
{% block javascript %}
    <script type="application/javascript">
        api_index = "{% url 'maneu_guest:api_index' %}"
        api_detail = "{% url 'maneu_guest:detail' %}"
        api_search = "{% url 'maneu_guest:api_search' %}"
        api_delete = "{% url 'maneu_guest:api_delete' %}"
    </script>


    <script type="application/javascript"
            src="https://cdn.staticfile.org/moment.js/2.29.4/moment.min.js"></script>
    <script type="application/javascript"
            src="https://cdn.staticfile.org/moment.js/2.29.4/locale/zh-cn.js"></script>
    <script type="application/javascript"
            src="https://cdn.staticfile.org/bootstrap-daterangepicker/3.0.5/daterangepicker.js"></script>
    {#https://www.datetimepicker.cn/daterangepicker/#}


    <script type="application/javascript" src='{% static "javascript/maneu_guest/index.js" %}'></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <div>
                <div class="col-12 row">
                    <div class="col-8">
                        <h5>用户管理</h5>
                    </div>
                    <div class="col-2">
                        <div class='input-group input-group-sm'>
                            <input type="text" class="col-12 form-control" id="reportrange">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class='input-group input-group-sm'>
                            <input type="text" class="col-12 form-control" id="search-value" placeholder="使用手机或姓名查询">
                        </div>
                    </div>
                </div>
                <hr style="color:white;">
            </div>
            <div>
                <div class="col-12 row">
                    <div class="col-2">
                        <p>录入时间</p>
                    </div>
                    <div class="col-1">
                        <p>客户姓名</p>
                    </div>
                    <div class="col-1">
                        <p>客户电话</p>
                    </div>
                    <div class="col-7">
                        <p>客户备注</p>
                    </div>
                    <div class="col-1">
                        <form method="get" action="{% url 'maneu_guest:insert' %}">
                            <div class='input-group input-group-sm'>
                                <input type="submit" class="col-12 btn btn-warning" value='添加客户'>
                            </div>
                        </form>
                    </div>
                </div>
                <hr style="color:white;">
            </div>
        </div>
        <div class="body"></div>
    </div>
{% endblock %}
