{% extends 'base/base.html' %}
{% block content %}
<div class="row">
    <div class="medium-12 columns">
        <h1>订单</h1>
    </div>
    <div class="medium-3 columns">
        <div date-alert class="alert-box info round" style="background: #FFC048">
            <a href="{% url 'add_order' %}">
                <h3 >添加订单</h3>
            </a>
        </div>
    </div>
    <div class="medium-3 columns">
        <div date-alert class="alert-box info round" style="background: #FFC048">
            <a href="{% url 'order_list' %}">
                <h3>查看订单</h3>
            </a>
        </div>
    </div>
</div>


<!--<div class="row">-->
<!--    <div class="medium-12 columns">-->
<!--        <h1>用户</h1>-->
<!--    </div>-->

<!--    <div class="medium-3 columns">-->
<!--        <div date-alert class="alert-box info round" style="background: #0060A8">-->
<!--            <a href="{% url 'join_user' %}" methods="get">-->
<!--                <h3>添加用户</h3>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="medium-3 columns ">-->
<!--        <div date-alert class="alert-box info round" style="background: #0060A8">-->
<!--            <a href="{% url 'list_user' %}">-->
<!--                <h3>管理用户</h3>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="row">-->
<!--    <div class="medium columns">-->
<!--        <H1>视频</H1>-->
<!--    </div>-->
<!--    <div class="medium-3 columns">-->
<!--        <div date-alert class="alert-box info round" style="background: #FFC048">-->
<!--            <a href="{% url 'add_order' %}">-->
<!--                <h3>添加视频</h3>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="medium-3 columns">-->
<!--        <div date-alert class="alert-box info round" style="background: #FFC048">-->
<!--            <a href="{% url 'order_list' %}">-->
<!--                <h3>查看视频</h3>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div class="row">
    <div class="medium columns">
        <H1>用户管理</H1>
    </div>

    <div class="medium columns">
        <div date-alert class="alert-box info round" style="background: #FFC048">
            <a href="{% url 'logout_user' %}">
                <h3>退出登录</h3>
            </a>
        </div>
    </div>
</div>
{% endblock %}
