<!--前端-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="de_mle_text" id="key_txt">
    <input class="de_mle_t" type="text" name="txt" value="">
    <div class="verification">
        <button id="keysubmit_btn" class="de_mle_btn key_btn" type="submit">提 交</button>
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>
<script src="https://cdn.staticfile.org/foundation/5.5.3/js/vendor/modernizr.js"></script>
<script>

    $("#keysubmit_btn").click(function () {
        $.ajax({
            dataType: 'JSON',
            cache: false,
            async: true,
            type: 'POST',
            url: "{% url 'ajax_test' %}",
            data: {id:$('#key_txt').val()},
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function (res) {
                alert(res.message)
                if (res.code == '001') {
                    layer.alert("该题已答过");
                } else if (res.code == '002') {
                    layer.alert("提交答案失败");
                } else if (res.code == '003') {
                    if (res.Score > 0) {
                        //do what
                    } else {
                        //do what
                    }
                }
            },
        })
    });

</script>
</body>
</html>