hr {
    border: 1px solid #ffffff;
}

.vertical1 {
    margin-bottom: 6px
}

.vertical2 {
    margin-top: 2%;
    margin-bottom: 4%;
}

.product1 {
    width: 11%
}

.product2 {
    width: 51%
}

.product3 {
    width: 11%
}