{% extends 'maneu/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/maneu_index/index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/bootstrap-daterangepicker/3.0.5/daterangepicker.css"/>
{% endblock %}
{% block javascript %}
    <script type="application/javascript" src="https://cdn.staticfile.org/moment.js/2.29.4/moment.min.js"></script>
    <script type="application/javascript" src="https://cdn.staticfile.org/moment.js/2.29.4/locale/zh-cn.js"></script>
    <script type="application/javascript" src="https://cdn.staticfile.org/bootstrap-daterangepicker/3.0.5/daterangepicker.js"></script>
    {#https://www.datetimepicker.cn/daterangepicker/#}


    <script type="text/javascript" src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script type="text/javascript" src="{% static 'javascript/maneu_index/echarts.js' %}"></script>


    <script type="text/javascript">
        api_index = "{% url 'maneu_index:api_index' %}"
    </script>
    <script type="text/javascript" src="{% static 'javascript/maneu_index/index.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-2 offset-10">
            <div class="input-group input-group-sm">
                <input type="text" id="reportrange" class="form-control">
            </div>
        </div>
        <div id="main1" class="main"></div>
    </div>
{% endblock %}
