{% extends 'base/admin.html' %}
{% load static %}

{% block content %}
        <table class="table" >
        <tr>
            <td>
                <p class="yellow">品牌</p>
            </td>
            <td>
                <p class="yellow">名称</p>
            </td>
            <td>
                <p class="yellow">度数</p>
            </td>
            <td>
                <p class="yellow">散光</p>
            </td>
            <td>
                <p class="yellow">折射</p>
            </td>
            <td>
                <p class="yellow">数量</p>
            </td>
            <td>
                <p class="yellow">操作</p>
            </td>
        </tr>
        {% for glass in glass_list %}
            <tr>
                <td>
                    <p class="yellow">{{ glass.brand }}</p>
                </td>
                <td>
                    <p class="yellow">{{ glass.model }}</p>
                </td>
                <td>
                    <p class="yellow">{{ glass.sphere }}</p>
                </td>
                <td>
                    <p class="yellow">{{ glass.astigmatic }}</p>
                </td>
                <td>
                    <p class="yellow">{{ glass.refraction }}</p>
                </td>
                <td>
                    <p class="yellow">{{ glass.count }}</p>
                </td>
                <td>
                    <form method="get" action="{% url 'store:glass_store' %}">
                        <input type="hidden" name="glass_id" value="{{ glass.glass_id }}">
                        <input type="submit" value="查看库存" class="btn btn-primary">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}