{% extends 'base/admin.html' %}

{% load static %}

{% block content %}
    <!--内容栏-->
    <div class="container">
        <table class="table" style="margin-top: 5%">
            <tbody>
            <tr>
                <td colspan="4">
                    <p class="yellow">镜片信息</p>
                </td>
            </tr>
            {% for glass in glass_list %}
                <tr>
                    <td>
                        <p class="yellow">品牌:  {{ glass.brand }}</p>
                    </td>
                    <td>
                        <p class="yellow">型号:  {{ glass.model }}</p>
                    </td>
                    <td>
                        <p class="yellow">折射:  {{ glass.glass }}</p>
                    </td>
                    <td>
                        <p class="yellow">数量:  {{ glass.count }}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <p class="yellow">备注:  {{ glass.remark }}</p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p class="yellow">{{ record_list }}</p>
        <table class="table" style="margin-top: 5%">
            <tr>
                <td colspan="4" style="width: 80%">
                    <p class="yellow">销售记录</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="yellow">单号</p>
                </td>
                <td>
                    <p class="yellow">时间</p>
                </td>
                <td>
                    <p class="yellow">数量</p>
                </td>
                <td>
                    <p class="yellow">用户</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="yellow">单号</p>
                </td>
                <td>
                    <p class="yellow">时间</p>
                </td>
                <td>
                    <p class="yellow">数量</p>
                </td>
                <td>
                    <p class="yellow">用户</p>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}