{% extends 'base/admin.html' %}

{% load static %}

{% block content %}
    <!--内容栏-->
    <div class="container">
        <table class="table">
            <tr class="yellow">
                <td colspan="7">
                    <p>镜片信息</p>
                </td>
            </tr>
            <tr class="yellow">
                <td>
                    <p>品牌:  {{ glass.brand }}</p>
                </td>
                <td>
                    <p>型号:  {{ glass.model }}</p>
                </td>
                <td>
                    <p>度数:  {{ glass.sphere }}</p>
                </td>
                <td>
                    <p>散光:  {{ glass.astigmatic }}</p>
                </td>
                <td>
                    <p>折射:  {{ glass.refraction }}</p>
                </td>
                <td>
                    <p>数量:  {{ glass.count }}</p>
                </td>
            </tr>
            <tr class="yellow">
                <td>
                    <p>销售记录</p>
                <td>
                    <p>单号</p>
                </td>
                <td>
                    <p>时间</p>
                </td>
                <td>
                    <p>用户</p>
                </td>
                <td>
                    <p>数量</p>
                </td>
            </tr>
            <tr class="yellow">
                <td></td>
                <td>
                    <p>单号</p>
                </td>
                <td>
                    <p>时间</p>
                </td>
                <td>
                    <p>用户</p>
                </td>
                <td>
                    <p>数量</p>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
{% endblock %}