{% extends 'base/admin.html' %}
{% load static %}

{% block content %}
    <!--内容栏-->
    <table class="table">
        <tr>
            <td style="width:90%;">
                <a href="{% url 'store:glass_store' %}" class="yellow">眼镜仓库</a>
            </td>
            <td>
                <a href="{% url 'store:glass_insert' %}" class="yellow">添加产品</a>
            </td>
        </tr>
        <tr>
            <td style="width:90%;">
                <a href="{% url 'store:framework_store' %}" class="yellow">镜框仓库</a>
            </td>
            <td>
                <a href="{% url 'store:framework_insert' %}" class="yellow">添加产品</a>
            </td>
        </tr>
    </table>
{% endblock %}
