{% extends 'maneu/base1.html' %}
{% load static %}
{% block content %}
<div class="col-md-6 offset-md-3">
    <table class="table">
        <form id="user_insert">
            {% csrf_token %}
            <tr class="yellow">
                <td style="width: 20%">
                    <span>账号: </span>
                </td>
                <td style="width: 80%">
                    <input class="col-md-12 form-control" type="text" name="username">
                </td>
            </tr>
            <tr class="yellow">
                <td style="width: 20%">
                    <span>密码: </span>
                </td>
                <td>
                    <input class="col-md-12 form-control" type="text" name="password">
                </td>
            </tr>
            <tr class="yellow">
                <td style="width: 20%">
                    <span>电话: </span>
                </td>
                <td>
                    <input class="col-md-12 form-control" type="text" name="phone">
                </td>
            </tr>
            <tr class="yellow">
                <td style="width: 20%">
                    <span>邮件: </span>
                </td>
                <td>
                    <input class="col-md-12 form-control" type="text" name="email">
                </td>
            </tr>
            <tr class="yellow">
                <td>
                    <a class="btn btn-warning" type="button" href="{% url 'maneu_users:user_list' %}">返回</a>
                </td>
                <td>
                    <input class="btn btn-primary col-md-12" id="btn-insert" type="button" value="添加">
                </td>
            </tr>
        </form>
    </table>
</div>
{% endblock %}

{% block javascript %}
<script>
    user_insert = "{% url 'maneu_users:api_user_insert' %}";
</script>
<script>
    $(document).ready(function () {
        $("#btn-insert").click(function () {
            $.ajax({
                url: user_insert,
                type: "POST",
                data: $("#user_insert").serialize(),
                success: function (res) {
                    console.log(res)
                    if (res.code === 0) {
                        alert(res.msg)
                    } else if (res.code === 1) {
                        alert("请求错误")
                    } else if (res.code === 2) {
                        for (i in res.msg) {
                            error = $("#" + i)
                            error.html(res.msg[i])
                        }
                    } else if (res.code === 3) {
                        alert(res.msg)
                    }
                }
            })
        })
    })
</script>
{% endblock %}