{% extends 'maneu/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/maneu_order/order_detail.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <table class="table-sm text-left" style="margin-top: 2%; margin-bottom: 4%">
            <tr>
                <td colspan="8">
                    <form method="get" action="{% url 'maneu_order:index' %}">
                        <div class="input-group input-group-sm">
                            <input type="submit" class="btn btn-primary" value="返回">
                        </div>
                    </form>
                </td>
            </tr>
        </table>
        <table class="table table-bordered table-sm text-left" style="margin-top: 2%; margin-bottom: 4%">
            <tr class="banner">
                <td colspan="8">
                    <b>客户信息（Guess information）</b>
                </td>
            </tr>
            <tr>
                <td>
                    <span>创建时间</span>
                </td>
                <td colspan="7">
                    <span>{{ order.time }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>姓名</span>
                </td>
                <td colspan="7">
                    <span>{{ guess.name }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>电话</span>
                </td>
                <td colspan="7">
                    <span>{{ guess.phone }}</span>
                </td>
            </tr>
            <tr>
                <td width="12.5%">
                    <span>性别</span>
                </td>
                <td width="12.5%">
                    <span>{{ guess.sex }}</span>
                </td>
                <td width="12.5%">
                    <span>年龄</span>
                </td>
                <td width="12.5%">
                    <span>{{ guess.age }}</span>
                </td>
                <td width="12.5%">
                    <span>眼位</span>
                </td>
                <td width="12.5%">
                    <span>{{ guess.ot }}</span>
                </td>
                <td width="12.5%">
                    <span>主视眼</span>
                </td>
                <td width="12.5%">
                    <span>{{ guess.em }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>病族史</span>
                </td>
                <td colspan="7">
                    <span>{{ guess.dfh }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>备注</span>
                </td>
                <td colspan="7">
                    <span>{{ guess.remark }}</span>
                </td>
            </tr>
        </table>
        <table class="table table-bordered table-sm text-left" style="margin-top: 2%; margin-bottom: 4%">
            <tr class="banner">
                <td colspan="9">
                    <b>视力解决方案（Vision Solutions）</b>
                </td>
            </tr>
            <tr>
                <td>
                    <span>参数</span>
                </td>
                <td>
                    <span>裸眼视力 VA</span>
                </td>
                <td>
                    <span>球镜 Sph</span>
                </td>
                <td>
                    <span>柱镜 Cyl</span>
                </td>
                <td>
                    <span>轴位 Axial</span>
                </td>
                <td>
                    <span>棱镜 Pr</span>
                </td>
                <td>
                    <span>基底取向 FR</span>
                </td>
                <td>
                    <span>下加光 ADD</span>
                </td>
                <td>
                    <span>矫正视力 BSCVA</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>右眼</span>
                </td>
                <td>
                    <span id="OD_VA"></span>
                </td>
                <td>
                    <span id="OD_SPH"></span>
                </td>
                <td>
                    <span id="OD_CYL"></span>
                </td>
                <td>
                    <span id="OD_AX"></span>
                </td>
                <td>
                    <span id="OD_PR"></span>
                </td>
                <td>
                    <span id="OD_FR"></span>
                </td>
                <td>
                    <span id="OD_ADD"></span>
                </td>
                <td>
                    <span id="OD_BCVA"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>左眼</span>
                </td>
                <td>
                    <span id="OS_VA"></span>
                </td>
                <td>
                    <span id="OS_SPH"></span>
                </td>
                <td>
                    <span id="OS_CYL"></span>
                </td>
                <td>
                    <span id="OS_AX"></span>
                </td>
                <td>
                    <span id="OS_PR"></span>
                </td>
                <td>
                    <span id="OS_FR"></span>
                </td>
                <td>
                    <span id="OS_ADD"></span>
                </td>
                <td>
                    <span id="OS_BCVA"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>使用需求</span>
                </td>
                <td colspan="8">
                    <span id="function"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>瞳距</span>
                </td>
                <td colspan="8">
                    <span id="PD"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>验光师建议</span>
                </td>
                <td colspan="8">
                    <span id="remark"></span>
                </td>
            </tr>
        </table>
        <table class="table table-bordered table-sm text-left" style="margin-top: 2%; margin-bottom: 4%">
            <tr class="banner">
                <td colspan="9">
                    <b>产品订单信息（Product Orders）</b>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span>类别</span>
                </td>
                <td colspan="2">
                    <span>品牌</span>
                </td>
                <td colspan="2">
                    <span>型号</span>
                </td>
                <td colspan="2">
                    <span>参数</span>
                </td>
                <td>
                    <span>价格</span>
                </td>
            </tr>
            <tbody id="store_table"></tbody>
        </table>
        <table class="table table-bordered table-sm text-left" style="margin-top: 2%; margin-bottom: 4%">
            <tr class="banner">
                <td colspan="2">
                    <b>产品售后记录（Product Orders）</b>
                </td>
            </tr>
            <tr>
                <td width="10%">
                    <span>时间</span>
                </td>
                <td width="90%">
                    <span>内容</span>
                </td>
            </tr>
            <tbody id="server_list">
            {% if server.count == 0 %}
                <tr>
                    <td colspan="2">
                        <span>暂无记录</span>
                    </td>
                </tr>
            {% else %}
                {% for foo in server %}
                    <tr>
                        <td width="10%">
                            <span>{{ foo.time }}</span>
                        </td>
                        <td width="90%">
                            <span>{{ foo.content }}</span>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>


        <div class="input-group input-group-sm">
            <input type="text" class="form-control" id="server_value" placeholder="添加售后记录">
            {% csrf_token %}
            <input type="button" class="btn btn-primary" id="server_button" value="提交">
        </div>


        <table class="table-sm text-left" style="margin-top: 2%; margin-bottom: 4%">
            <tr>
                <td>
                    <div class="input-group input-group-sm">
                        <button class="btn btn-primary" id="print_btn">打印</button>
                    </div>
                </td>
                <td>
                    <form method="get" action="{% url 'maneu_order:update' %}">
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                        <div class="input-group input-group-sm">
                            <input type="submit" class="btn btn-warning" value="修改">
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
{% block javascript %}
    <script type="application/javascript">
        maneu_store = {{ store|safe }};
        maneu_vision = {{ vision|safe }};
        guess_id = "{{ guess.id }}";
        order_id = "{{ order.id }}";
        service_insert="{% url 'maneu_service:insert' %}";
        csrf_token = $("[name='csrfmiddlewaretoken']").val();
    </script>
    <script type="application/javascript" src="{% static 'javascript/maneu/print.js' %}"></script>
    <script type="application/javascript" src="https://cdn.bootcdn.net/ajax/libs/jQuery.print/1.6.2/jQuery.print.js"></script>
    <script type="application/javascript" src="{% static 'javascript/maneu/delete.js' %}"></script>
    <script type="application/javascript" src="{% static 'javascript/maneu_order/detail.js' %}"></script>
{% endblock %}
