{% extends 'maneu/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.staticfile.org/bootstrap-daterangepicker/3.0.5/daterangepicker.css"/>
{% endblock %}
{% block javascript %}
    <script type="application/javascript">
        api_index = "{% url 'maneu_order:api_index' %}"
        api_detail = "{% url 'maneu_order:detail' %}"
        api_search = "{% url 'maneu_order:api_search' %}"
        api_delete = "{% url 'maneu_order:api_delete' %}"
    </script>


    <script src="https://cdn.staticfile.org/moment.js/2.29.4/moment.min.js" type="application/javascript"></script>
    <script src="https://cdn.staticfile.org/moment.js/2.29.4/locale/zh-cn.js" type="application/javascript"></script>
    <script src="https://cdn.staticfile.org/bootstrap-daterangepicker/3.0.5/daterangepicker.js"
            type="application/javascript"></script>
    {#https://www.datetimepicker.cn/daterangepicker/#}


    <script src='{% static "javascript/maneu_order/index/delete.js" %}' type="application/javascript"></script>
    <script src='{% static "javascript/maneu_order/index/time_index.js" %}' type="application/javascript"></script>
    <script src='{% static "javascript/maneu_order/index/name_index.js" %}' type="application/javascript"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <table class="table col-12">
            <thead>
            <tr>
                <td colspan="3" valign="middle">
                    <h5>零售订单管理系统</h5>
                </td>
                <td>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="reportrange">
                    </div>
                </td>
                <td>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="search-value" placeholder="使用手机或姓名查询">
                    </div>
                </td>
            </tr>
            <tr>
                <td valign='middle'>
                    <span>录入时间</span>
                </td>
                <td valign='middle'>
                    <span>客户姓名</span>
                </td>
                <td valign='middle'>
                    <span>客户电话</span>
                </td>
                <td valign='middle'>
                    <span>订单备注</span>
                </td>
                <td valign='middle' align="right">
                    <div class="col-6 row">
                        <form method="get" action="{% url 'maneu_order:insert' %}">
                            <div class="input-group input-group-sm">
                                <input type="submit" class="btn btn-warning col-12" value='添加订单'>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody id="body"></tbody>
        </table>
    </div>
{% endblock %}
