{% extends 'maneu/base_admin.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <!--内容栏-->
        <table class="table col-12">
            <tr>
                <td class="col-9" colspan="4" valign="middle">
                    <h5>零售订单管理系统</h5>
                </td>
                <td class="col-3">
                    <div class="input-group input-group-sm">
                        <input type="button" class="btn btn-primary" id="reset-btn" value="重置">
                        <input type="text" class="form-control" id="search-value" placeholder="使用手机或姓名查询">
                        <input type="button" class="btn btn-primary" id="search-btn" value="提交">
                    </div>
                </td>
            </tr>
            <tr>
                <td valign='middle'>
                    <span>录入时间</span>
                </td>
                <td valign='middle'>
                    <span>客户姓名</span>
                </td>
                <td valign='middle'>
                    <span>客户电话</span>
                </td>
                <td valign='middle'>
                    <span>购买价格</span>
                </td>
                <td valign='middle' align="right">
                    <div class="col-6 row">
                        <form method="get" action="{% url 'maneu_order:insert' %}">
                            <div class="input-group input-group-sm">
                                <input type="submit" class="btn btn-warning col-12" value='添加订单'>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            {% for foo in list %}
                <tr>
                    <td valign='middle'>
                        <span>{{ foo.time }}</span>
                    </td>
                    <td valign='middle'>
                        <span>{{ foo.name }}</span>
                    </td>
                    <td valign='middle'>
                        <span>{{ foo.phone }}</span>
                    </td>
                    <td valign='middle'>
                        <span>999</span>
                    </td>
                    <td valign='middle' align="right">
                        <div class="col-6 row">
                            <form class="col-6" method="post" action="{% url 'maneu_order:detail' %}">
                                {% csrf_token %}
                                <input type="hidden" name="order_id" value="{{ foo.id }}">
                                <div class="input-group input-group-sm">
                                    <input type="submit" class='btn btn-primary col-12' value="删除">
                                </div>
                            </form>
                            <form class="col-6" method="post" action="{% url 'maneu_order:detail' %}">
                                {% csrf_token %}
                                <input type="hidden" name="order_id" value="{{ foo.id }}">
                                <div class="input-group input-group-sm">
                                    <input type="submit" class='btn btn-primary col-12' value="查看">
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}


        </table>
    </div>
{% endblock %}
{% block javascript %}
    <script type="application/javascript" src="{% static 'javascript/maneu/delete.js' %}"></script>
    <script type="application/javascript">
        api_index = "{% url 'maneu_order:api_index' %}"
        api_search = "{% url 'maneu_order:search' %}"
        api_delete = "{% url 'maneu_order:api_delete' %}"
    </script>
{% endblock %}
