{% extends 'maneu/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/bootstrap-daterangepicker/3.0.5/daterangepicker.css"/>
{% endblock %}
{% block javascript %}
    <script type="application/javascript" src="https://cdn.staticfile.org/moment.js/2.29.4/moment.min.js"></script>
    <script type="application/javascript" src="https://cdn.staticfile.org/moment.js/2.29.4/locale/zh-cn.js"></script>
    <script type="application/javascript" src="https://cdn.staticfile.org/bootstrap-daterangepicker/3.0.5/daterangepicker.js"></script>
    {#https://www.datetimepicker.cn/daterangepicker/#}
    <script type="application/javascript" src="{% static 'javascript/maneu/time.js' %}"></script>
    <script type="application/javascript">
        api_detail = "{% url 'maneu_order:detail' %}"
        api_index = "{% url 'maneu_order:api_index' %}"
        api_search = "{% url 'maneu_order:api_search' %}"
        api_delete = "{% url 'maneu_order:api_delete' %}"
        function LoadContent(res) {
            for (i in res){
                $('#body').append(
                    "                <tr>\n" +
                    "                    <td valign='middle'>\n" +
                    "                        <span>"+ res[i]['time'] +"</span>\n" +
                    "                    </td>\n" +
                    "                    <td valign='middle'>\n" +
                    "                        <span>"+ res[i]['name'] +"</span>\n" +
                    "                    </td>\n" +
                    "                    <td valign='middle'>\n" +
                    "                        <span>"+ res[i]['phone'] +"</span>\n" +
                    "                    </td>\n" +
                    "                    <td valign='middle'>\n" +
                    "                        <span>999</span>\n" +
                    "                    </td>\n" +
                    "                    <td valign='middle' align='right'>\n" +
                    "                        <div class='col-6 row'>\n" +
                    "                            <form class='col-6'>\n" +
                    "                                <div class='col-6 input-group input-group-sm'>\n" +
                    "                                    <input type='button' class='btn btn-danger col-12' onclick='deleteBtn(this)' alt="+ res[i]['id'] +" value='删除'>\n" +
                    "                                </div>\n" +
                    "                            </form>\n" +
                    "                            <form class='col-6' method='get' action="+ api_detail +" >\n" +
                    "                                <input type='hidden' name='order_id' value="+ res[i]['id'] +">\n" +
                    "                                <div class='input-group input-group-sm'>\n" +
                    "                                    <input type='submit' class='btn btn-primary col-12' value='查看'>\n" +
                    "                                </div>\n" +
                    "                            </form>\n" +
                    "                        </div>\n" +
                    "                    </td>\n" +
                    "                </tr>\n"
                )
            }
        }
        function deleteBtn(obj){
            if (confirm("您确定要删除吗？")) {
                $.ajax({
                    url: api_delete,
                    type: 'GET',
                    data: {
                        order_id :obj.alt,
                    },
                    success: function (res) {
                        obj.parentElement.parentElement.parentElement.parentElement.parentElement.remove()
                    }
                })
            } else {
                return false;
            }
        }
        $(function() {
            $.ajax({
                url: api_index,
                data: {
                    star: today,
                    end: today,
                },
                success: function (res){
                    LoadContent(res);
                }
            });
            $('input[name="daterange"]').daterangepicker({
                opens:'center',
                locale:{format:'YYYY-MM-DD'}
            }, function(start, end, label) {
                $('#body').empty()
                $.ajax({
                    url: api_index,
                    data: {
                        star: start.format('YYYY-MM-DD'),
                        end: end.format('YYYY-MM-DD')
                    },
                    success: function (res){
                        LoadContent(res);
                    }
                })
            });
            $('input[name="search-value"]').keyup(function () {
                $('#body').empty()
                $.ajax({
                    url: api_search,
                    data: {
                        text: $('input[name="search-value"]').val()
                    },
                    success: function (res){
                        LoadContent(res);
                    }
                })
            })
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <table class="table col-12">
            <thead>
            <tr>
                <td class="col-6" colspan="3" valign="middle">
                    <h5>零售订单管理系统</h5>
                </td>
                <td class="col-3">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" name="daterange">
                    </div>
                </td>
                <td class="col-3">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" name="search-value" placeholder="使用手机或姓名查询">
                    </div>
                </td>
            </tr>
            <tr>
                <td valign='middle'>
                    <span>录入时间</span>
                </td>
                <td valign='middle'>
                    <span>客户姓名</span>
                </td>
                <td valign='middle'>
                    <span>客户电话</span>
                </td>
                <td valign='middle'>
                    <span>购买价格</span>
                </td>
                <td valign='middle' align="right">
                    <div class="col-6 row">
                        <form method="get" action="{% url 'maneu_order:insert' %}">
                            <div class="input-group input-group-sm">
                                <input type="submit" class="btn btn-warning col-12" value='添加订单'>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody id="body"></tbody>
        </table>
    </div>
{% endblock %}
