{% extends 'maneu/base1.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block content %}
    <div class="container">
        <!--内容栏-->
            <div id="main" class="col-md-12" style="min-width: 80%; min-height: 500px;"></div>

        <table class="table">
            <tr>
                <td colspan=4>
                    <form class="col-md-5 offset-md-3 col-sm-12" method="post" action="{% url 'maneu_order:order_search' %}">
                        <div class="input-group input-group-sm">
                            {% csrf_token %}
                            <input type="date" name="date" class="form-control">
                            <input type="text" name="text" class="form-control" placeholder="使用手机或姓名查询">
                            <input type="submit" class="btn btn-primary" value="查询">
                        </div>
                    </form>
                </td>
            </tr>
            {% if orderlist %}
                <tr>
                    <td class="blue col-sm-3">
                        <span>姓名</span>
                    </td>
                    <td class="blue col-sm-4">
                        <span>电话</span>
                    </td>
                    <td class="blue col-sm-4">
                        <span>时间</span>
                    </td>
                    <td class="blue col-sm-1">
                        <form method='get' action="{% url 'maneu_order:order_insert' %}">
                            <div class="input-group input-group-sm">
                                <input type='submit' class='btn btn-warning col-sm-12' value='添加订单'>
                            </div>
                        </form>
                    </td>
                </tr>
                {% for order in orderlist %}
                    <tr>
                        <td class="blue col-sm-1">
                            <span>{{ order.name }}</span>
                        </td>
                        <td class="blue col-sm-4">
                            <span>{{ order.phone }}</span>
                        </td>
                        <td class="blue col-sm-4">
                            <span>{{ order.time }}</span>
                        </td>
                        <td class="blue col-sm-1">
                            <form method="post" action="{% url 'maneu_order:order_detail' %}">
                                {% csrf_token %}
                                <div class="input-group input-group-sm">
                                    <input type="hidden" name="order_id" value="{{ order.id }}">
                                    <input type="submit" class="btn btn-primary col-sm-12" value="查看订单">
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" class="blue">没有找到您的订单</td>
                </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}
{% block javascript %}
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                span: '第一个 ECharts 实例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["1","2","3","4","5","6","7","8","9", "10","11","12","13","14","15","16","17","18","19","30","21","22","23","24","25","26","27","28","29","30"],
                type: 'category',
                splitLine: {
                    show: false
                },
                axisLabel: {
                    interval: 0,
                    show: true,
                    textStyle: {
                        color: '#c3dbff',  //更改坐标轴文字颜色
                        fontSize: 14      //更改坐标轴文字大小
                    }
                },
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: "#ccc"
                    }
                }
            },
            yAxis: {
                show: true,
                type: 'time',
                                axisLine: {
                    show: true,
                    lineStyle: {
                        color: "#ccc"
                    }
                }
            },
            series: [{
                name: '销量',
                type: 'line',
                data: [5, 20, 36, 10, 10, 20, 20,10]
            }, {
                name: '上月销量',
                type: 'line',
                data: [15, 25, 35, 20, 30, 10, 10,10]
            }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
{% endblock %}