{% extends 'maneu/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="text-center" id="content">
            <div class="row justify-content-center">
                <div class="col-md-12" style="padding: 5%">
                    <img src="{% static 'img/logo.svg' %}">
                    <h4>徕可</h4>
                </div>
                <div class="col-md-6" style="padding: 5%">
                    <form method="post" action='{% url 'order_search' %}'>
                        <div class="form-row">
                            {% csrf_token %}
                            {{ form.search }}
                            <input type="submit" class="col-md-3 form-control button btn-primary ">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/maneu/base.css' %}">
{% endblock %}
{% block js %}
    <script src="{% static 'js/maneu/base.js' %}"></script>
{% endblock %}
