{% extends 'maneu/base.html' %}
{% load static %}
{% block content %}
    <!--内容栏-->
    <table class="table">
        <tr>
            <td class="yellow col-md-3">单号</td>
            <td class="yellow col-md-2">姓名</td>
            <td class="yellow col-md-3">电话</td>
            <td class="yellow col-md-2">时间</td>
            <td class="yellow col-md-2">
                <a type="button" class="btn btn-warning" href="{% url 'order:order_insert'%}">添加订单</a>
            </td>
        </tr>
        {% for order in orders %}
            <tr>
                <td class="yellow">
                    <p>{{order.order_id}}</p>
                </td>
                <td class="yellow">
                    <p>{{order.c_name}}</p>
                </td>
                <td class="yellow">
                    <p>{{order.c_phone}}</p>
                </td>
                <td class="yellow">
                    <p>{{order.c_time }}</p>
                </td>
                <td class="yellow">
                    <form method="GET" action="{% url 'order:order_detail' %}">
                        <input type="hidden" name="order_id" value="{{order.order_id}}">
                        <input type="submit" class="btn btn-primary" value="查看订单">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block javascript %}
{#    <script src="{% static 'js/order/order_list/LoadOrderList.js' %}"></script>#}
{% endblock javascript %}