{% extends 'maneu/base.html' %}
{% load static %}

{% block content %}
    <!--内容栏-->
    <table class="table">
        <thead>
        <tr>
            <td colspan="11">
                <span>订单信息</span>
            </td>
        </tr>
        <tr>
            <td style="width: 15%">
                <span>编号</span>
            </td>
            <td colspan="10">
                <span id="order_id"></span>
            </td>
        </tr>
        <tr>
            <td>
                <span>密钥</span>
            </td>
            <td colspan="10">
                <span id="order_token"></span>
            </td>
        </tr>
        <tr>
            <td colspan="11"><span>客户信息</span></td>
        </tr>
        <tr>
            <td><span>客户姓名</span></td>
            <td colspan="10">
                <span id="c_name"></span>
            </td>
        </tr>
        <tr>
            <td><span>客户电话</span></td>
            <td colspan="10">
                <span id="c_phone"></span>
            </td>
        </tr>
        <tr>
            <td><span>购买时间</span></td>
            <td colspan="10">
                <span id="c_time"></span>
            </td>
        </tr>
        <tr>
            <td colspan="11">
                <span>产品信息</span>
            </td>
        </tr>
        <tr>
            <td style="width:15%;"><span>产品</span></td>
            <td style="width:8.5%;"><span>品牌</span></td>
            <td style="width:8.5%;"><span>型号</span></td>
            <td style="width:8.5%;"><span>折射</span></td>
            <td style="width:8.5%;"><span>球镜</span></td>
            <td style="width:8.5%;"><span>柱镜</span></td>
            <td style="width:8.5%;"><span>方向</span></td>
            <td style="width:8.5%;"><span>轴位</span></td>
            <td style="width:8.5%;"><span>ADD</span></td>
            <td style="width:8.5%;"><span>瞳距</span></td>
            <td style="width:8.5%;"><span>数量</span></td>
        </tr>
        </thead>
        <tbody id="order_content">

        </tbody>
        <tfoot>
        <tr>
            <td><span>备注</span></td>
            <td colspan="10">
                <span id="todo"></span>
            </td>
        </tr>
        <tr>
            <td>
                <form method="get" action="{% url 'order:order_list' %}">
                    <input class="btn btn-primary" type="submit" value="返回">
                </form>
            </td>
            <td colspan="10">
                <form id="qr_code">
                    {% csrf_token %}
                    <input type="hidden" name="order_id" value="{{orders.order_id}}">
                    <input type="hidden" name="token" value="{{orders.token}}">
                    <input type="button" class="btn btn-primary" id="get_qr_code" value="扫码">
                </form>
            </td>
        </tr>
        </tfoot>
    </table>
{% endblock %}

{% block javascript %}
    <script>
        api_order_qrcode = '{% url 'order:api_order_qrcode' %}';
        api_order_delete = '{% url 'order:api_order_delete' %}';
        api_order_detail = '{% url 'order:api_order_detail' %}';
    </script>
    <script src="{% static 'js/order/order_detail.js' %}"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: api_order_detail,
                type: "GET",
                data: {order_id: '{{ order_id }}', order_token: '{{ order_token }}'},
                success: function (res) {
                    if (res.code === 0){
                        $("#c_name").html(res.data.c_name)
                        $("#c_time").html(res.data.c_time)
                        $("#c_phone").html(res.data.c_phone)
                        $("#order_id").html(res.data.order_id)
                        $("#order_token").html(res.data.order_token)
                        order = jQuery.parseJSON(res.data.order)
                        for (i in order){
                            content = ''
                            content += '<tr>'
                            content += '<td><span>'+ order[i]['product'] + '</span></td>'
                            content += '<td><span>'+ order[i]['brand'] +'</span></td>'
                            content += '<td><span>'+ order[i]['model'] + '</span></td>'
                            content += '<td><span>'+ order[i]['sphere'] + '</span></td>'
                            content += '<td><span>'+ order[i]['astigmatic'] + '</span></td>'
                            content += '<td><span>'+ order[i]['refraction'] + '</span></td>'
                            content += '<td><span>'+ order[i]['Around'] + '</span></td>'
                            content += '<td><span>'+ order[i]['pd'] + '</span></td>'
                            content += '<td><span>'+ order[i]['add'] + '</span></td>'
                            content += '<td><span>'+ order[i]['deviation'] + '</span></td>'
                            content += '<td><span>'+ order[i]['count'] + '</span></td>'
                            content += '</tr>'
                            $('#order_content').append(content)
                        }
                    }
                }
            })
        })
    </script>
{% endblock %}
