{% extends 'base/admin.html' %}
{% load static %}

{% block content %}
    <table class="table">
        <tbody>
        <tr>
            <td style="width: 20%" class="yellow">单号</td>
            <td style="width: 20%" class="yellow">姓名</td>
            <td style="width: 20%" class="yellow">电话</td>
            <td style="width: 20%" class="yellow">时间</td>
            <td style="width: 20%" class="yellow">
                <button class="btn btn-primary" id="order_insert">添加订单</button>
            </td>
        </tr>
        {% for order in orders %}
            <tr>
                <td class="yellow">{{order.order_id}}</td>
                <td class="yellow">{{order.c_name}}</td>
                <td class="yellow">{{order.c_phone}}</td>
                <td class="yellow">{{order.c_time }}</td>
                <td class="yellow">
                    <form method="post" action="{% url 'order:order_detail' %}">
                        {% csrf_token %}
                        <input type="hidden" name="order_id" value="{{order.order_id}}">
                        <input type="submit" class="btn btn-primary" value="查看订单">
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>
                <button style="display: none" align="right" id="up" class="btn btn-primary">上页</button>
            </td>
            <td colspan="3"></td>
            <td>
                <button style="display: none" align="left" id="down" class="btn btn-primary">下页</button>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script>
        api_order_list = "{% url 'order:api_order_list' %}"
        api_order_insert = "{% url 'order:order_insert' %}"
    </script>
    <script>
        $(document).ready(function () {
            $('#order_insert').click(function () {
                window.location.href = api_order_insert
            })
        })
    </script>
    {#    <script src="{% static 'js/order/order_list/load-order-list.js' %}"></script>#}
    {#    <script src="{% static 'js/order/order_list/upAndDown.js' %}"></script>#}
{% endblock %}
