{% extends 'maneu/base.html' %}
{% load static %}
{% block content %}
    <!--内容栏-->
    <table class="table">
        <tr>
            <td style="width: 25%" class="yellow">单号</td>
            <td style="width: 25%" class="yellow">姓名</td>
            <td style="width: 25%" class="yellow">电话</td>
            <td style="width: 25%" class="yellow">时间</td>
            <td style="width: 25%">
                <a type="button" class="btn btn-warning" href="{% url 'order:order_insert'%}">添加订单</a>
            </td>
        </tr>
        {% for order in orders %}
            <tr>
                <td class="yellow">
                    <p>{{order.order_id}}</p>
                </td>
                <td class="yellow">
                    <p>{{order.c_name}}</p>
                </td>
                <td class="yellow">
                    <p>{{order.c_phone}}</p>
                </td>
                <td class="yellow">
                    <p>{{order.c_time }}</p>
                </td>
                <td class="yellow">
                    <form method="GET" action="{% url 'order:order_detail' %}">
                        <input type="hidden" name="order_id" value="{{order.order_id}}">
                        <input type="submit" class="btn btn-primary" value="查看订单">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="row offset-5">
        <div style="margin: 5%">
            <input type="button" class="btn btn-primary" id="up" value="上">
        </div>
        <div style="margin: 5%">
            <input type="button" class="btn btn-primary" id="down" value="下">
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        PageNumber = 0
        api_order_list = "{% url 'order:api_order_list' %}";
        $(document).ready(function () {
            $.ajax({
                url: api_order_list,
                type: 'GET',
                data: {'PageNumber': PageNumber},
                success: function (res) {
                    console.log(res)
                }
            })

            $('#up').click(function () {
                console.log('1')
                PageNumber = PageNumber-20
                if (PageNumber > 0){
                    $.ajax({
                        url: api_order_list,
                        type: 'GET',
                        data: {'PageNumber': PageNumber},
                        success: function (res) {
                            console.log(res)
                        }
                    })
                }
            });
            $('#down').click(function () {
                PageNumber = PageNumber+20
                console.log(PageNumber)
                if (PageNumber > 0){
                    $.ajax({
                        url: api_order_list,
                        type: 'GET',
                        data: {'PageNumber': PageNumber},
                        success: function (res) {
                            console.log(res)
                        }
                    })
                }
            });
        })
    </script>
{#    <script src="{% static 'js/order/order_list/LoadOrderList.js' %}"></script>#}
{% endblock javascript %}