{% extends 'base/admin.html' %}
{% load static %}

{% block content %}
    <!--内容栏-->
    <div class="container">
        <table class="table">
            <tr>
                <td class="yellow" style="width: 25%">昵称</td>
                <td class="yellow" style="width: 25%">状态</td>
                <td class="yellow" style="width: 25%">权限</td>
                <td>
                    <form method="get" action="{% url 'user:api_insert' %}">
                        <input class="btn btn-primary" type="submit" value="添加">
                    </form>
                </td>
            </tr>
            {% for user in user_list %}
                <tr>
                    <td class="yellow" style="width: 25%">{{ user.nickname }}</td>
                    <td class="yellow" style="width: 25%">{{ user.status }}</td>
                    <td class="yellow" style="width: 25%">{{ user.level }}</td>
                    <td>
                        <form method="get" action="{% url 'user:user_find' %}">
                            <input type="hidden" name="user_id" value="{{ user.user_id }}">
                            <input class="btn btn-primary" type="submit" value="查看">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block js %}
    <script>
        user_freeze = "{% url 'user:api_freeze' %}";
        user_unfreeze = "{% url 'user:api_unfreeze' %}"
    </script>
    <script>
        $(document).ready(function () {
            $("#btn_freeze").click(function () {
                $.ajax({
                    url: user_freeze,
                    type: "POST",
                    data: $("#user_freeze").serialize(),
                    success: function (res) {
                        $("#user_unfreeze").show();
                        $("#user_freeze").hide();
                        alert(res)
                    }
                })
            })
            $("#btn_unfreeze").click(function () {
                $.ajax({
                    url: user_unfreeze,
                    type: "POST",
                    data: $("#user_unfreeze").serialize(),
                    success: function (res) {
                        $("#user_freeze").show();
                        $("#user_unfreeze").hide();
                        alert(res)
                    }
                })
            })
        })
    </script>
{% endblock %}
