{% extends 'base/admin.html' %}
{% load static %}

{% block content %}
    <!--内容栏-->
    <div class="container">
        <table class="table">
            <tbody>
            <tr>
                <td class="yellow" style="width: 25%">昵称</td>
                <td class="yellow" style="width: 25%">状态</td>
                <td class="yellow" style="width: 25%">权限</td>
                <td colspan="3">
                    <form method="get" action="{% url 'user:api_insert' %}">
                        <input class="btn btn-primary" type="submit" value="添加">
                    </form>
                </td>
            </tr>
            {% for user in user_list %}
                <tr>
                    <td class="yellow">{{ user.nickname }}</td>
                    <td class="yellow">{{ user.status }}</td>
                    <td class="yellow">{{ user.level }}</td>
                    <td>
                        <form method="get" action="{% url 'user:user_find' %}">
                            <input type="hidden" name="user_id" value="{{ user.user_id }}">
                            <input class="btn btn-primary" type="submit" value="查看">
                        </form>
                    </td>
                    <td>
                        <form method="get" action="{% url 'user:user_update' %}">
                            <input type="hidden" name="user_id" value="{{ user.user_id }}">
                            <input class="btn btn-primary" type="submit" value="修改">
                        </form>
                    </td>
                    <td>
                        <form id="user_freeze">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ user.user_id }}">
                            <input id="btn_freeze" class="btn btn-primary" type="button" value="冻结">
                        </form>
                        <form id="user_unfreeze">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ user.user_id }}">
                            <input id="btn_unfreeze" class="btn btn-primary" type="button" value="解冻">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script>
        user_freeze = "{% url 'user:api_freeze' %}";
        user_unfreeze = "{% url 'user:api_unfreeze' %}"
    </script>
    <script src="{% static 'js/user/freeze_and_unfreeze.js' %}"></script>
{% endblock %}
