{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>徕可</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/maneu/base.css' %}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="blue">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- 标题栏 -->
    <a class="navbar-brand" href="{% url 'index_page' %}">徕可</a>
    <!-- 导航栏 -->
    <ul class="nav navbar-nav navbar-right">
        <!-- 订单管理 -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'order:order_list' %}">订单管理</a>
        </li>
        <!-- 仓库管理 -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'store:store_list' %}">仓库管理</a>
        </li>
        <!-- 用户管理 -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'user:user_list' %}">用户管理</a>
        </li>
        <!-- 账户登出 -->
        <li class="nav-item dropdown">
            <a class="nav-link" href="{% url 'user:logout' %}" id="navbardrop">账户登出</a>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div style="margin: 5%; min-height: 680px" class="col-md-12">
            {% block content %} {% endblock %}
        </div>
        <div style="margin: 5%">
            <a class="yellow" href="https://beian.miit.gov.cn">粤ICP备2020134991号</a>
        </div>
    </div>
</div>
</body>

{% block css %}{% endblock %}
{% block javascript %}{% endblock %}
</html>
