<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!-- local -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>徕可</title>
    <link rel="icon" href="{% static 'img/logo16x9.svg' %}">
    <link rel="stylesheet" href="{% static 'css/maneu/base.css' %}">
    <!-- bootstrap -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <!--bootstrap -->
    {% block css %}{% endblock %}
</head>
<body class="blue">
{% block content %}{% endblock %}
<div class="col-md-12 yellow text-center">
    <a class="yellow" href="https://beian.miit.gov.cn">粤ICP备2020134991号</a>
</div>
</body>
</html>