{% extends 'maneu/base0.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/maneu/guess.css' %}">
{% endblock %}
{% block content %}
    <div class="container" id="content">
        <div class="col-md-12" id="header">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/logo16x9.svg' %}" class="img-responsive" alt="Cinque Terre">
                <h4 class="yellow">徕可</h4>
            </a>
        </div>
        <div id="bodyer">
            <form id="order_insert" class="vertical col-md-4 offset-md-4" action="{% url 'guess' %}" method="post">
                {% csrf_token %}
                <div class="input-group input-group-sm mb-2">
                    <span class="input-group-text">手机号</span>
                    <input type="text" name="phone" class="form-control">
                    <span id="phone_error"></span>
                </div>
                <div class="input-group input-group-sm mb-2">
                    <span class="input-group-text">验证码</span>
                    <input type="text" name="code" class="form-control">
                    <span id="phone_error"></span>
                </div>
                <div class="input-group input-group-sm mb-2">
                    <input type="submit" id="guess_phone" class="form-control col-12 button btn-warning">
                </div>
                <div class="input-group input-group-sm mb-2">
                    <a type="button" href="{% url 'index' %}" class="form-control col-12 button btn-primary">返回</a>
                </div>
                <div>
                    <p class="yellow">{{ msg }}</p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
