<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!-- local -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>徕可</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/maneu/base.css' %}">
    <!-- bootstrap -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--bootstrap -->
</head>
<body style="background: #0E2340">
<div class="container">
    <table class="table">
        <tr>
            <td colspan="11" class="text-center">
                <h5>客户信息</h5>
            </td>
        </tr>
        <tr>
            <td>
                <span>客户姓名</span>
            </td>
            <td colspan="10">
                <span>{{ order.c_name }}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>客户电话</span>
            </td>
            <td colspan="10">
                <span>{{ order.c_phone }}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>购买时间</span>
            </td>
            <td colspan="10">
                <span>{{ order.c_time }}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>备注信息</span>
            </td>
            <td colspan="10">
                <span>{{ order.remark }}</span>
            </td>
        </tr>
        <tr>
            <td colspan="11" class="text-center">
                <h5>产品信息</h5>
            </td>
        </tr>
        <tr>
            <td>
                <span>产品</span>
            </td>
            <td>
                <span>品牌</span>
            </td>
            <td>
                <span>型号</span>
            </td>
            <td>
                <span>折射</span>
            </td>
            <td>
                <span>球镜</span>
            </td>
            <td>
                <span>柱镜</span>
            </td>
            <td>
                <span>方向</span>
            </td>
            <td>
                <span>轴位</span>
            </td>
            <td>
                <span>ADD</span>
            </td>
            <td>
                <span>瞳距</span>
            </td>
            <td>
                <span>数量</span>
            </td>
        </tr>
        {% for foo in content %}
            {% if foo.product == "镜框" %}
                <tr>
                    <td>
                        <span>{{ foo.product }}</span>
                    </td>
                    <td>
                        <span>{{ foo.brand }}</span>
                    </td>
                    <td colspan="8">
                        <span>{{ foo.model }}</span>
                    </td>
                    <td>
                        <span>{{ foo.count }}</span>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
</body>
</html>