{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>徕可</title>
    <link rel="icon" href="{% static 'images/maneu/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'css/maneu/login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet"
          href="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/popper.js/2.11.2/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/twitter-bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/2.1.3/jquery.min.js"></script>

    <script>
        sendsms = "{% url 'sendsms' %}"
        login_verify = "{% url 'login_api' %}"
        maneu_order_index = "{% url 'maneu_order:index' %}"
    </script>
    <script src="{% static 'javascript/maneu/login.js' %}"></script>
</head>

<body>
<div class="container-fluid">
    <div class="login-wrapper">
        <div class="header">徕可管理系统</div>
        <div class="form-wrapper">
            <input type="text" class="input-item" id="call" placeholder="手机号码" autocomplete="off">
            <span class="msg" id="msg"></span>
        </div>

        <div class="form-wrapper" id="password">
            <input type="text" class="input-item" id="code" placeholder="验证码" autocomplete="off">
            <button class="btn" id="login-hold" style="background: gray; color: white;">请输入验证码后再登陆</button>
            <button class="btn" id="login-btn" style="display: none">登录</button>

        </div>
        <div class="form-wrapper">
            <button class="btn" id="wait-btn" style="background: gray; color: white; display: none">请稍后再获取验证码
            </button>
            <button class="btn" id="sendsms-btn">获取验证码</button>
        </div>
        <div class="form-wrapper">
            <a href="{% url 'index' %}">
                <button class="btn">返回</button>
            </a>
        </div>
    </div>
</div>
</body>

<footer class="fixed-bottom text-center">
    <a href="https://beian.miit.gov.cn">粤ICP备2023070483号</a>
</footer>
</html>
